.footer {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(100vw - (var(--padding) * 2));
    top: calc(100% - 70px);
    padding-left: var(--padding);
    padding-right: var(--padding);
    z-index: 99;
    visibility: hidden;
    /* background: var(--background-colour); */
}

.bio {
    display: grid;
    grid-row-gap: var(--plus-padding);
    grid-template-columns: var(--bio-column);
    grid-auto-rows: var(--row-height);
    cursor: var(--cursor);
    padding-bottom: var(--padding);
    margin-top: var(--padding);
}

.time {
    justify-self: var(--justify);
}

.plus {
    width: max-content;
    height: max-content;
    display: inline-block;
    transform: rotate(45deg);
}

.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.cv {
    overflow-y: scroll;
}

.contact {
    display: grid;
    grid-template-columns: var(--contact-column);
    padding-top: var(--padding);
    margin-bottom: var(--padding);
}

.section {
    width: 100%;
    margin-bottom: var(--padding);
}

.section:last-of-type {
    margin-bottom: 0;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: var(--row-column);
}



.kind,
.location {
    display: var(--visibility);
}

.date {
    justify-self: var(--justify);
}
