/*----------------------------------------
Variables
----------------------------------------*/

:root {
  --font-family: helvetica;
  --font-size: 0.75rem;

  --smallcaps-font-size: 0.9rem;
  --line-height: 1rem;
  --carousel-button: 1.5rem;

  --row-height: 15px;
  --row-padding: 10px;

  --padding: 15px;
  --figcaption-padding: 5px;
  --plus-padding: 10px;

  --three-column: 1fr 1fr 0.3fr;
  --four-column: 0.7fr 0.3fr 1fr 0.3fr;
  --five-column: 0.7fr 0.3fr 0.7fr 0.3fr 0.3fr;
}

/*----------------------------------------
Main
----------------------------------------*/

html body {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.collapse-button {
  display: block;
  width: 100%;
}

.collapse-content.collapsed {
  display: none;
}

.collapsed-content.expanded {
  display: block;
}