.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.15fr));
  grid-gap: var(--padding);
  grid-auto-flow: dense;
}

.gallery > div {
  cursor: crosshair;
  pointer-events: all;
}

.gallery > div:hover {
  outline: 1px solid #000000;
}

.preview {
  width: 100%;
  display: grid;
  grid-template-columns: var(--three-column);
  margin-bottom: var(--padding);
}