tr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: var(--row-padding);

    visibility: hidden;
}

tr:last-of-type {
    margin-bottom: calc(var(--padding) * 3);
}

td {
    /* visibility: hidden; */
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.project {
    display: grid;
    grid-template-columns: var(--three-column);
    grid-auto-rows: var(--row-height);
    cursor: crosshair;
    user-select: none;
    z-index: 99;
}

.title {
    display: flex;
}

.content {
    display: none;
    width: 100%;
    grid-column: 1/-1;
}

.cross {
    /* visibility: hidden; */
    width: max-content;
    height: max-content;
    display: inline-block;
    transform: rotate(45deg);
}

.padding {
    padding-right: var(--padding);
}

/*----------------------------------------
Project
----------------------------------------*/

.section,
.figure {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: var(--padding);
    /* visibility: hidden; */
}

.section {
    display: grid;
    grid-template-columns: var(--three-column);
    padding-top: var(--padding);
}

.figcaption {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: var(--five-column);
    grid-auto-rows: minmax(var(--row-height), auto);
    padding-bottom: var(--figcaption-padding);
}

.materials {
    padding-right: var(--padding);
}

/*----------------------------------------
Images
----------------------------------------*/

.image {
    width: 100%;
    display: grid;
    grid-template-columns: var(--three-column);
}

.Small {
    grid-column: 1 / 2;
    margin-right: var(--padding);
}

.Large {
    grid-column: 1 / 3;
    margin-right: var(--padding);
}

/* .portrait>img {
  object-fit: contain;
  object-position: 0% 50%;
} */